.hero {
  position: absolute;
  z-index: -1;
}
.infoContainer {
  height: 60vh;
  padding: 5rem 0 0 5vw;
  background-color: #00000050;
}
.title {
  font-size: 4rem;
  margin-block-start: 0;
  margin-block-end: 0;
}
.categories {
  display: flex;
  width: 500px;
  justify-content: flex-start;
}
.separator {
  margin: 0 0.5rem 0 0.5rem;
}
.actions {
  width: 100px;
  height: 40px;

  display: flex;
  background-color: #000000;
}
.infoBg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  background-color: #15c6b299;
  color: #fff;
  cursor: pointer;
}
.favoriteBg {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 50%;
  height: 100%;

  background-color: #15c6b2;
  color: #fff;
  cursor: pointer;
}
.sipnopsisBg {
  max-width: 70ch;
  border-radius: 4px;
}
.sipnopsis {
  max-width: inherit;

  font-weight: bold;
  letter-spacing: 1px;
  margin: 0.24rem;
}

@media (max-width: 926px) {
  .infoContainer {
    height: 40vh;
    padding-left: 2vw;
    padding-top: 10vh;
  }
  .sipnopsisBg {
    display: none;
  }
}
@media (max-width: 800px) {
  .title {
    font-size: 2.5rem;
  }
  .categories {
    font-size: 0.9rem;
  }
}
