.slider {
  padding-top: 4px;
}

.item {
  margin-left: 1rem;
  min-width: 150px;
  max-width: 150px;

  transition: all ease 200ms;
  cursor: pointer;
  filter: brightness(0.9);
}
.item:hover {
  transform: scale(1.05);
  filter: brightness(1.1);
}
.img {
  border: solid 2px #ffffff;
  box-shadow: 3px 3px 3px 0 #15c6b299;
  margin-bottom: 1rem;
  height: 198px;
  width: 160px;
}
