@import url("https://fonts.googleapis.com/css2?family=Karla:wght@300&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Karla", sans-serif;
  z-index: 0;
  background-color: #000000;
  color: #ffffff;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}
ul {
  list-style-type: none;
  margin-block-start: 0;
  margin-block-end: 0;
  padding-inline-start: 0;
}

a {
  color: white;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
hr {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-inline-start: 0;
  margin-inline-end: 0;

  height: 1px;
  max-width: 100%;
  border: 0;
  background-color: #15c6b2;
}
.container {
  position: absolute;
  z-index: -1;
  height: 100%;
  width: 100%;
  background-color: #00000050;
}
.main {
  box-shadow: 0 -50px 20px 150px#171717;
  background-color: #171717;
}

.results {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 5rem;
}
.not-found {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.result {
  display: flex;
  justify-content: center;
  flex-direction: column;

  height: 280px;
  width: 240px;
  border: solid 2px #ffffff;
  box-shadow: 4px 4px 4px 0 #15c6b299;

  margin: 1rem;

  transition: all ease 200ms;
  cursor: pointer;
  filter: brightness(0.9);
}
.result:hover {
  transform: scale(1.1);
  filter: brightness(1.1);
}
.h3 {
  font-size: 1.17em;
  margin-block-start: 0;
  margin-block-end: 0;
  background-color: #00000050;
  padding: 1rem;
}
